@model ModelL.Usuario

@{
    ViewBag.Title = "SuperDigito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h2 class="alert alert-warning text-center">Aún no ha iniciado sesión, inicie sesión para poder acceder a este modulo!</h2>

    <div class="justify-content-center">
        <div class="d-flex flex-column align-items-center">
            <a href="@Url.Action("Login", "Usuario")" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
}
else
{



    <h3 class="text-center">Bienvenido @Model.UserName</h3>
    <hr />
    <h2 class="text-center">SuperDigito</h2>

    if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-info">
            @ViewBag.Mensaje
        </div>
    }

    using (Html.BeginForm("SuperDigito", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.IdUsuario)
        @Html.HiddenFor(model => model.UserName)

        <div class="row justify-content-center mt-5">
            <div class="col-auto d-flex align-items-center">
                @Html.LabelFor(model => model.Historial.Numero)
                @Html.TextBoxFor(model => model.Historial.Numero, new { @class = "form-control m-3", @type = "text", @id = "numberField" })
            </div>

            <div class="col-auto d-flex align-items-center">
                @Html.LabelFor(model => model.Historial.Resultado)
                <input type="num" name="resultado" value=@Model.Historial.Resultado readonly class="form-control m-3" />
            </div>

            <span class="text-center" id="error-message" style="color:red; display:none;">Solo se permiten números.</span>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-1 d-flex align-items-center">
                <input type="submit" class="btn btn-success" value="Calcular" />
            </div>
        </div>
    }

    <hr />

    <h2 class="text-center">Historial</h2>

    <hr />

    <div>
        @if (Model.Historial.Historiales != null && Model.Historial.Historiales.Count > 0)
        {
            <div class="row justify-content-center">
                <div class="col d-flex flex-column align-items-end">
                    <a href="@Url.Action("Delete", "Usuario", new { IdUsuario = Model.IdUsuario })" onclick="return confirm('Estas seguro de eliminar todos los registros?')" class="btn btn-danger">Eliminar Historial</a>
                </div>
            </div>

            <br />
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Resultado</th>
                        <th>Fecha</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ModelL.Historial historial in Model.Historial.Historiales)
                    {
                        <tr>
                            <td>@historial.Numero</td>
                            <td>@historial.Resultado</td>
                            <td>@historial.Fecha</td>
                            <td><a href="@Url.Action("DeleteHistorial", "Usuario", new { IdHistorial = historial.IdHistorial})" onclick="return confirm('Estas seguro de eliminar el registro?')" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <div class="alert alert-warning">
                <p>Sin numeros registrados</p>
            </div>
        }
    </div>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputField = document.getElementById('numberField');
        const errorMessage = document.getElementById('error-message');

        inputField.addEventListener('input', function () {
            const regex = /^[0-9]*$/;
            const value = inputField.value;

            if (!regex.test(value)) {
                inputField.value = value.replace(/[^0-9]/g, ''); // Elimina caracteres no numéricos
                inputField.style.borderColor = 'red'; // Cambia el borde a rojo
                errorMessage.style.display = 'inline'; // Muestra el mensaje de error
            } else {
                inputField.style.borderColor = ''; // Restaura el borde al estado original
                errorMessage.style.display = 'none'; // Oculta el mensaje de error
            }
        });
    });
</script>
